body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #f0f0f0;
}

header {
    height: 3em;
    width: 100%;
    background-color: green;
    display: flex;
    justify-content: center;
    background-image: url(header.png);
    box-shadow: inset 0px 0px 10px black;
}
#logo {
    font-size: 2em;
    color: white;
    margin-top: -0.3em;
    font-weight: bold;
}

#content {
    padding: 0.5em;
    display: flex;
    justify-content: center;
}

.container {
    width: 1200px;
    display: inline-flex;
    justify-content: space-between;
    padding: 1em;
    flex-wrap: wrap;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-flex;
}
nav ul li {
    margin-left: 1em;
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover,
nav ul li a:active {
    text-decoration: underline;
}

section {
    border-style: solid;
    border-width: 1px;
    border-color: #337733;
    border-radius: 3px;
    margin: 10px;
}
section legend {
    background-color: #337733;
    color: #FFFFFF;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 10px;
}
section p {
    padding: 10px;
}
